body {
    font-family: Arial, sans-serif;
}

.card-body {
    background-color: #0e4f88;
    color: #fff;
    border-radius: 1rem;
}

.shadow {
    width: 500px;
}

@media only screen and (max-width:468px){
    .shadow {
        width: 100% !important;
    }
}