<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10">
        <div class="card border-1 shadow-sm">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text">{{ product.descrip }}</p>
                <p class="card-text">Marca: {{ product.brand }}</p>
                <p class="card-text">Size: {{ product.size }}</p>
                <p class="card-text">Precio: {{ product.price }}$</p>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <div class="accordion" id="orderDetailsAccordion">
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingDetails">
                      <div class="row">
                        <div class="col-auto">
                          <a routerLink="/products">
                            <button class="btn btn-primary" type="button">
                              Volver
                            </button>
                          </a>
                        </div>
                        <div class="col-auto">
                            <a (click)="goToEdit(product.id)" class="btn btn-warning">
                                Editar
                            </a>
                            <!-- <a (click)="delete(product.id)" class="btn btn-warning">
                                Delete
                            </a> -->
                        </div>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  