
<div class="container">
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-8 text-center">
        <h1 class="display-1">SneakerLand</h1>
        <h4>Subtítulo de la página</h4>
    </div>
    <div class="col-md-4 text-center">
        <img src="assets/logo.png" class="img-fluid" alt="Imagen de la página">
    </div>
</div>
    <div>
        <div class="col-md-12">
            <h2 class="text-center title-styled">Recomendaciones</h2>
        </div>
    </div>
    <div>
        <div class="col-md-8 offset-md-2">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-body">
                            <div class="col">
                                <div class="card h-100 shadow p-3">
                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                        <img [src]="products[0].image" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title text-center">{{products[0].name}}</h3>
                                        <a (click)="goToDetails(products[0].id)" class="btn btn-primary d-block mx-auto">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="carousel-item">
                        <div class="card-body">
                            <div class="col">
                                <div class="card h-100 shadow p-3">
                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                        <img [src]="products[1].image" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title text-center">{{products[1].name}}</h3>
                                        <a (click)="goToDetails(products[1].id)" class="btn btn-primary d-block mx-auto">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-body">
                            <div class="col">
                                <div class="card h-100 shadow p-3">
                                    <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                        <img [src]="products[2].image" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title text-center">{{products[2].name}}</h3>
                                        <a (click)="goToDetails(products[2].id)" class="btn btn-primary d-block mx-auto">Detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center title-styled">Marcas</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-2">
            <a href="ruta-marca-1" class="card-link">
                <button>
                    <span>Nike</span>
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="ruta-marca-1" class="card-link">
                <button>
                    <span>Adidas</span>
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="ruta-marca-1" class="card-link">
                <button>
                    <span>Puma</span>
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="ruta-marca-1" class="card-link">
                <button>
                    <span>Vans</span>
                </button>
            </a>
        </div>
    </div>
</div>
  